<nav>
  <div>
    <a href="">SuperInsta</a>
  </div>
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li *ngIf="isLoggedIn"><a routerLink="/allposts"> Toutes les images</a></li>
    <li *ngIf="isLoggedIn"><a routerLink="/following">Suivis</a></li>
    <li *ngIf="isLoggedIn"><a routerLink="/favorites">Favorites</a></li>
    <li *ngIf="isLoggedIn"><a routerLink="/MyPosts">Mes Images </a></li>
  </ul>

  <ul>
    <li routerLinkActive="active"><a routerLink="/login">Connexion</a></li>
    <li routerLinkActive="active"><a routerLink="/signup">S'enregister</a></li>
    <!-- deconnexion  -->
    
  </ul>
</nav>